.detail2 {
    border: 2px solid red;

    margin: auto auto 70px auto;
    max-width: 1200px;

    display: flex;
    justify-content: center;
}

.smallActiveImg {
width: 120px;
height: 90px;
margin: 14px;
cursor: pointer;
transition: ease-in-out 0.5s;
}

.smallNonactiveImg {
    width: 120px;
    height: 90px;
    margin: 14px;
    cursor: pointer;
    opacity: 0.6;
    transition: ease-in-out 0.5s;
    }

    .bigImg {
        width: 600px;
        height: 450px;
        margin: 10px;
    }