.detail2 {
    border: 2px solid red;

    margin: auto auto 70px auto;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
}

.threeImages {
    display: flex;
}

.threeImages > img {
    margin: 10px;
}