/* .Footer {
  border: 2px solid tomato;

  background-color: navy;

  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  margin-top: 10px;

}

.footTitle {
  color: aliceblue;
  text-align: center;
}
 */