.cart {
  color: oldlace;
  padding-right: 5px;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.cartImg {
  height: 40px;
  width: 40px;
  margin-right: 10px;
}

.cart > h1 {
  font-size: 30px;
}
