.Home {
    border: 2px solid red;

    margin-bottom: 70px;
    max-width: 1200px;

    margin: auto;

    /* display: flex;
    flex-direction: column;
    justify-content: space-around; */
}

.sliderz {

}

.bestSellerz {

}

