.kategorije {
  /* margin: auto auto 70px auto; */
  margin: auto;
  max-width: 1200px;
}

.featCard {
  margin: 5px;
}

.cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.oneCard {
  width: 18rem;
  margin: 5px;
}

.kuhNaslov {
  color: aliceblue;
  text-align: center;
}