.Navv {
  background-color: navy;
  max-width: 1200px;
  margin: auto auto 15px auto;
}

.logo {
  text-align: center;
  color: oldlace;
  margin: 10px auto;
  font-weight: bold;
}

.categories {
  display: flex;
  justify-content: space-around;
  color: seashell;
  margin-top: 10px;
}

.categories > h4 {
  border: 2px solid blue;
  width: 150px;
  text-align: center;
}
