.Navv {
  background-color: navy;
  max-width: 1200px;
  margin: auto auto 15px auto;
  position: sticky;
  top: 0;
  z-index: 1090;
}

.navTitle {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
}

.logo {
  font-weight: bold;
  font-size: 60px;
  color: oldlace;
  text-align: center;
}

.cart {
  color: oldlace;
  padding-right: 5px;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.cartImg {
  height: 40px;
  width: 40px;
  margin-right: 10px;
}

.info {
  color: oldlace;
  padding-left: 5px;
}

.hamham {
  display: none;
}


.categories {
  display: flex;
  justify-content: space-around;
  
  margin-top: 10px;
}

.links {
  border: 2px solid blue;
  width: 150px;
  text-align: center;
  color: seashell;
}

@media (max-width: 530px) {
  .categories {
    display: flex;
    flex-wrap: wrap;
  }
  .logo {
    font-weight: bold;
    font-size: 40px;
  }
  .info {
    font-size: 30px;
  }
  .cart > h1 {
    font-size: 30px;
  }
  .cartImg {
    height: 27px;
    width: 27px;
  }
}

@media (max-width: 400px) {

  .navTitle {
    display: none;
  }

  .categories {
    display: none;
  }

  .hamham {
    display: unset;
  }
}
