.successPage {

    margin: auto;
    max-width: 1200px;
}

.lost {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sucGoodTitle {
    margin: 20px 20px;
    color: antiquewhite;
}

.sucTitle {
    margin: 20px 20px;
    color: antiquewhite;
}

.goodGood {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lostImg {
    max-width: 400px;
    margin: 20px auto;
}