.App {
  border: 2px solid black;
  
  height: 100%;
  min-height: 100vh;
  box-sizing: border-box;

  position: relative;

  background-color: navy;
  
/* 
  display: flex;
  flex-direction: column;
  justify-content: space-between; */
}
